<?xml version="1.0"?>
<config>
    <modules>
        <Web_CatalogSearch>
            <version>0.1.0</version>
        </Web_CatalogSearch>
    </modules>
    <global>
        <models>
            <web_catalogsearch>
                <class>Web_CatalogSearch_Model</class>
                <resourceModel>web_catalogsearch_resource</resourceModel>
            </web_catalogsearch>
            <web_catalogsearch_resource>
                <class>Web_CatalogSearch_Model_Resource</class>
            </web_catalogsearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <advanced_collection>Web_CatalogSearch_Model_Resource_CatalogSearch_Advanced_Collection</advanced_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <blocks>
            <web_catalogsearch>
                <class>Web_CatalogSearch_Block</class>
            </web_catalogsearch>
            <catalogsearch>
                <rewrite>
                    <advanced_form>Web_CatalogSearch_Block_CatalogSearch_Advanced_Form</advanced_form>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <web_catalogsearch>
                <class>Web_CatalogSearch_Helper</class>
            </web_catalogsearch>
        </helpers>
    </global>
</config>